@font-face{
  font-family: 'brown-regular';
  src: url('./assets/fonts/brown/BrownRegular.ttf')
}

@font-face{
  font-family: 'brown-bold';
  src: url('./assets/fonts/brown/BrownBoldAlt.ttf')
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.nav-item{
} */

.App{
  border: 1px solid #cccccc7d;
}
.nav-link{
  color: #000;
  font-family: 'brown-bold';
  padding: 5px 24px 5px 24px;
}

.nav-link:hover{
  color: #000;
  font-weight: bold;
}

.highlighted.nav-link{
  background: #fecc00;
  border: 1px solid transparent;
}

.highlighted.nav-link:hover{
  border: 1px solid #000;
}

.top_heading{
  font-family: 'brown-bold';
  letter-spacing: 4px;
  margin-top: 2em;
}

.top_heading>h1{
  position: relative;
  font-size: 3em
}

.top_subheading{
  font-family: 'brown-regular';
  margin-top: 1em;
}

.top_subheading>h2{
  font-size: 2.5em
}

.stick-1{
  position: absolute;
  top: 33px;
  left: 0;
  width: 21em;
  height: 15px;
}

.stick-2{
    position: absolute;
    top: 98px;
    left: 0;
    width: 30em;
    height: 15px;
}

.donate-btn{
    background: #286702;
    letter-spacing: 2px;
    font-family: 'brown-regular';
    font-size: 25px;
    width: 96%;
}

.top_img{
  height: 39em;
  margin-top: -57px;
  margin-left: -37px;
  /* transform: rotate(5deg); */
  height: 35em;
}

.about_us{
  font-family: 'brown-regular';
}
.underline_about{
  height: 20px;
  top: 20px;
  position: absolute;
  left: 6px;
}

.underline_about + h2{
  position: relative;
}
.prog_thumb_wrap{
    font-family: 'brown-bold';
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #7a06b721;
    color: #fff;
    cursor: pointer;
}

.prog_thumb_wrap:hover{
  align-items: flex-start;
  background: #7906b798;
}


.dot-col{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90px;
}
.blue {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #e8d5bc;
    position: relative;
}

.white {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #fcf9f5;
    position: absolute;
    top: 5px;
    left: 5px;
}

.red {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #e8d5bc;
    position: absolute;
    top: 5px;
    left: 5px;
}

.dot-title{
    position: absolute;
    top: 3em;
    color: #c4a17e;
    text-align: center;
    font-size: 1.3em;
}

.navigators{
    height: 15px;
    width: 15px;
    background: #ead9c5;
    border-radius: 50%;
    margin-right: 25px;
}

.navigators.selected{
    background: #c4a17e;
}